/*
Theme Name: themebestiaire
*/

header {
  background: #90a090;
  border-bottom: 3px double #aba;
  border-left: 1px solid #9a9;
  border-right: 1px solid #565;
  border-top: 1px solid #9a9;
  font: italic normal 230% "Times New Roman", Times, serif;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 15px 10px 15px 60px;
}

.az-letters-wrap {
  display: none;
}

.headerA {
  text-decoration: none !important;
  color: #212529;
}

.back-to-top a {
  font-size: 13px !important;
}

.card-img-top {
  width: 400px !important;
  height: 218px !important;
}

.card-body {
  display: flex;
}

@media screen and (max-width: 640px) {
  .card-body {
    display: block;
  }
  .card-img-top {
    width: 200px !important;
    height: 100px !important;
  }
}
